.register_main_div{
    color: black;
    background-color: red;
    margin-top: 50px;
    width: 60%;
    margin: auto;
    height: 80%;
    border-radius: 2px;
    border: solid 4px black;
    padding-top: 6%;
}