{% extends 'base/main.html' %}
{% block content %}

<div role="form" class="post_main_div">
    <h3>Fahrplan Form</h3>

    <!--back link-->
    <a href="{% url 'tasks' %}">Go back</a>

    <form method="POST" action="">
        <!-- a safety feature that the form needs to work: A CSRT token generates a unique, unpredictable and secret value by the server-side to be included in the clients HTTP request - this helps the server determin wether the user request is genuine and it helps avoid attacks-->
        {% csrf_token %}
        <!-- the ad_p at the end makes it so the elements are aligned in order from top to bottom instead of side-by-side-->
        {{form.as_p}}
        <input  tabindex="0" role="button" class="form_sbm_btn" type="submit" value="Submit">
    </form>
</div>

{% endblock content %}